<h1>New Product</h1>

<form action="/products" method="post">
  <div>
    name: <input type="text" name="name">
  </div>
  <div>
    price: <input type="text" name="price">
   </div> 
   <div> 
    description: <input type="text" name="decription">
   </div>
    <div> 
    supplier_id: <input type="text" name="supplier_id">
   </div>
  <input type="submit" value="Create Product">
</form>