<h1> Product </h1>

  <h2><%= @products.name  %></h2>
  <h3><%= @products.price %></h3>
  <h4><%= @products.description %></h4>
  <a href="/products">All Products</a>
  <a href="/products/<%= @products.id %>/edit">Edit Product</a>
